In [38]:
import numpy as np
import pandas as pd

In [39]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [40]:
df = pd.read_csv("House_data_v2.csv")

In [41]:
df.head()

,property_type,area_type,availability,location,size,area,bath,balcony,price_per_sqft,price
0,flat,Super built-up Area,19-Dec,Electronic City Phase II,2,1056.0,2,1,3693.0,0.39
1,house,Plot Area,Ready To Move,Chikka Tirupathi,4,2600.0,5,3,4615.0,1.20
2,flat,Built-up Area,Ready To Move,Uttarahalli,3,1440.0,2,3,4306.0,0.62
3,flat,Super built-up Area,Ready To Move,Lingadheeranahalli,3,1521.0,3,1,6246.0,0.95
4,flat,Super built-up Area,Ready To Move,Kothanur,2,1200.0,2,1,4250.0,0.51

In [42]:
df = df.rename(columns={"size": "bedroom"})

In [43]:
df.head()

,property_type,area_type,availability,location,bedroom,area,bath,balcony,price_per_sqft,price
0,flat,Super built-up Area,19-Dec,Electronic City Phase II,2,1056.0,2,1,3693.0,0.39
1,house,Plot Area,Ready To Move,Chikka Tirupathi,4,2600.0,5,3,4615.0,1.20
2,flat,Built-up Area,Ready To Move,Uttarahalli,3,1440.0,2,3,4306.0,0.62
3,flat,Super built-up Area,Ready To Move,Lingadheeranahalli,3,1521.0,3,1,6246.0,0.95
4,flat,Super built-up Area,Ready To Move,Kothanur,2,1200.0,2,1,4250.0,0.51

In [44]:
df.shape

(12186, 10)

In [45]:
df.duplicated().sum()

np.int64(271)

In [46]:
df = df.drop_duplicates()

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11915 entries, 0 to 12185
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   property_type   11915 non-null  object
 1   area_type       11915 non-null  object
 2   availability    11915 non-null  object
 3   location        11914 non-null  object
 4   bedroom         11915 non-null  int64
 5   area            11915 non-null  float64
 6   bath            11915 non-null  int64
 7   balcony         11915 non-null  int64
 8   price_per_sqft  11915 non-null  float64
 9   price           11915 non-null  float64
dtypes: float64(3), int64(3), object(4)
memory usage: 1023.9+ KB

In [48]:
df.isnull().sum()

property_type     0
area_type         0
availability      0
location          1
bedroom           0
area              0
bath              0
balcony           0
price_per_sqft    0
price             0
dtype: int64

In [49]:
df[df["location"].isna()]

,property_type,area_type,availability,location,bedroom,area,bath,balcony,price_per_sqft,price
543,flat,Super built-up Area,Ready To Move,NaN,3,1600.0,3,2,5375.0,0.86

In [50]:
df.dropna(subset=["location"], inplace=True)

In [51]:
df['location'] = df['location'].str.lower()

In [52]:
df.head()

,property_type,area_type,availability,location,bedroom,area,bath,balcony,price_per_sqft,price
0,flat,Super built-up Area,19-Dec,electronic city phase ii,2,1056.0,2,1,3693.0,0.39
1,house,Plot Area,Ready To Move,chikka tirupathi,4,2600.0,5,3,4615.0,1.20
2,flat,Built-up Area,Ready To Move,uttarahalli,3,1440.0,2,3,4306.0,0.62
3,flat,Super built-up Area,Ready To Move,lingadheeranahalli,3,1521.0,3,1,6246.0,0.95
4,flat,Super built-up Area,Ready To Move,kothanur,2,1200.0,2,1,4250.0,0.51

In [53]:
df['area_type'].value_counts()

area_type
Super built-up  Area    7785
Built-up  Area          2263
Plot  Area              1784
Carpet  Area              82
Name: count, dtype: int64

In [54]:
def convert_to_built_up(row):
    if row['area_type'] == 'Plot  Area':
        return row['area']
    elif row['area_type'] == 'Built-up  Area':
        return row['area']
    elif row['area_type'] == 'Super built-up  Area':
        # Convert assuming built-up is 85% of super built-up
        return row['area'] * 0.85
    elif row['area_type'] == 'Carpet  Area':
        # Assuming built-up is 110% of carpet area
        return row['area'] * 1.10  
    # else:
    #     return np.nan  # In case of unexpected area_type

df['built_up_area'] = df.apply(convert_to_built_up, axis=1)

In [55]:
df.head(5)

,property_type,area_type,availability,location,bedroom,area,bath,balcony,price_per_sqft,price,built_up_area
0,flat,Super built-up Area,19-Dec,electronic city phase ii,2,1056.0,2,1,3693.0,0.39,897.60
1,house,Plot Area,Ready To Move,chikka tirupathi,4,2600.0,5,3,4615.0,1.20,2600.00
2,flat,Built-up Area,Ready To Move,uttarahalli,3,1440.0,2,3,4306.0,0.62,1440.00
3,flat,Super built-up Area,Ready To Move,lingadheeranahalli,3,1521.0,3,1,6246.0,0.95,1292.85
4,flat,Super built-up Area,Ready To Move,kothanur,2,1200.0,2,1,4250.0,0.51,1020.00

In [58]:
df["availability"].value_counts()

availability
Ready To Move         9470
Under Construction    2444
Name: count, dtype: int64

In [57]:
df.loc[df["availability"] != "Ready To Move", "availability"] = "Under Construction"

In [59]:
df.to_csv('House_data_v3.csv',index=False)